/* navbar header  */

ul li .block{
    position: relative;
  }
  
  ul li .block::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 28px;
    left: 0px;
    width: 0;
    height: 4px;
    transition: width .6s;
    background-color: rgba(255, 0, 0, 0.792);
  }
  
  ul li .block:hover::after{
    width: 100%;
  }
  
  

  
  
  
  
  