/* navbar header  */

ul li .block{
    position: relative;
  }
  
  ul li .block::after{
    content: '';
    position: absolute;
    bottom: 0;
    top: 28px;
    left: 0px;
    width: 0;
    height: 4px;
    transition: width .6s;
    background-color: rgba(255, 0, 0, 0.792);
  }
  
  ul li .block:hover::after{
    width: 100%;
  }
  
  /* about page css */
  .tool, .tool1, .tool2 {
      width: 220px;
      height: 220px;
      box-shadow: 16px 14px 20px #0000008c;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #101010;
      margin: 10px; /* Added for spacing between divs */
  }
  .tool::before, .tool1::before, .tool2::before {
      content: "";
      width: 150%;
      height: 150%;
      position: absolute;
      animation: rotate 2s linear infinite;
  }
  .tool::before {
      background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
  }
  .tool1::before {
      background-image: conic-gradient(#00ff52 20deg, transparent 120deg);
  }
  .tool2::before {
      background-image: conic-gradient(#0052ff 20deg, transparent 120deg);
  }
  .tool::after, .tool1::after, .tool2::after {
      content: "";
      width: 210px;
      height: 210px;
      background: #101010 no-repeat center center;
      background-size: contain;
      position: absolute;
      border-radius: 10px;
      box-shadow: inset 20px 20px 20px #0000008c;
  }
  .tool::after {
      background-image: url('../image/vscode.png'); /* Replace with your image */
  }
  .tool1::after {
      background-image: url('../image/macos.png'); /* Replace with your image */
  }
  .tool2::after {
      background-image: url('../image/postman.png'); /* Replace with your image */
  }


  @keyframes rotate {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }

  /* skills page animation  */

     /* about page css */
     .tool3, .tool4, .tool5, .tool6,.tool7, .tool8, .tool9, .tool10,.tool11, .tool12{
        width: 210px;
        height: 210px;
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #101010;
        margin: 10px; 
    }
    .tool3::before, .tool4::before, .tool5::before, .tool6::before,
    .tool7::before, .tool7::before, .tool8::before, .tool9::before,
    .tool10::before, .tool11::before, .tool12::before{
        content: "";
        width: 160%;
        height: 160%;
        position: absolute;
        animation: rotate 2s linear infinite;
    }
    .tool3::before {
        background-image: conic-gradient(#ff0052 20deg, transparent 120deg );
    }
    .tool5::before {
        background-image: conic-gradient(#00ff52 20deg, transparent 120deg);
    }
    .tool4::before {
        background-image: conic-gradient(#0052ff 20deg, transparent 120deg);
    }
    .tool6::before {
        background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    }
    .tool7::before {
        background-image: conic-gradient(#00ff52 20deg, transparent 120deg);
    }
    .tool8::before {
        background-image: conic-gradient(#0052ff 20deg, transparent 120deg);
    }
    .tool9::before {
        background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    }
    .tool10::before {
        background-image: conic-gradient(#00ff52 20deg, transparent 120deg);
    }
    .tool11::before {
        background-image: conic-gradient(#0052ff 20deg, transparent 120deg);
    }
    .tool12::before {
        background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
    }
    .tool3::after, .tool4::after, .tool5::after, .tool6::after,
    .tool7::after, .tool7::after, .tool8::after, .tool9::after,
    .tool10::after, .tool11::after, .tool12::after {
        content: "";
        width: 200px;
        height: 200px;
        background: #101010 no-repeat center center;
        background-size: contain;
        position: absolute;
        border-radius: 10px;
        
        box-shadow: inset 20px 20px 20px #0000008c;
    }
      /* skills page animations */
.tool3::after {
    background-image: url('../image/htmlnew.png'); /* Replace with your image */
}
.tool4::after {
    background-image: url('../image/css-removebg-preview.png'); /* Replace with your image */
}
.tool5::after {
    background-image: url('../image/js1.png'); /* Replace with your image */
}.tool6::after {
    background-image: url('../image/tailwind.png'); /* Replace with your image */
}
.tool7::after {
    background-image: url('../image/jquery.png'); /* Replace with your image */
}
.tool8::after {
    background-image: url('../image/python-removebg-preview.png'); /* Replace with your image */
}.tool9::after {
    background-image: url('../image/php-Photoroom.png'); /* Replace with your image */
}
.tool10::after {
    background-image: url('../image/mysql-removebg-preview.png'); /* Replace with your image */
}
.tool11::after {
    background-image: url('../image/github1.png'); /* Replace with your image */
}
.tool12::after {
    background-image: url('../image/office.png'); /* Replace with your image */
}

  
  
  
  
  